.container {
  @include outer-container;
}

.sidebar {
  @include span-columns(3);
  background: $menu;
  height: 100%;
  height: 100vh;
}

.content {
  @include span-columns(9);
  padding: em(24) 0;
}
