.pills {
  $pills-background: #98B0C3;
  $pills-color: white;
  $pills-border: #98B0C3;
  $pills-active-color: #5E778B;
  $pills-radius: $border-radius;
  margin-bottom: 1em;

  .pill {
    @extend %button;
    display: inline-block;
    background: $pills-background;
    color: $pills-color;
    margin: 0;
    border: solid $pills-border;
    border-width: 2px 0;
    border-radius: 0;
    margin-right: -5px;
    font-weight: bold;

    &:hover {
      background-color: darken($pills-background, 5%);
      border-color: darken($pills-border, 5%);
    }

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
      border-left-width: 2px;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
      border-right-width: 2px;
    }

    &.active {
      background: #fff;
      color: $pills-active-color;
    }

    + .pill {
      border-left-width: 0;
    }
  }
}
