table {
  width: 100%;
}

.quick-chart {
  background: $base-background-color;
  height: 2em;
  width: 100%;
}

.quick-chart__inner {
  background: $primary;
  color: #fff;
  height: 100%;
  line-height: 2em;
  padding-left: 0.5em;
}
