<div class="container">
  <div class="sidebar">
    <div class="nav">
      {{#link-to 'index' classNames='nav__logo'}}Paz{{/link-to}}
      {{#link-to 'dashboard' classNames='nav__item'}}
        <i class="ss-dashboard nav__icon"></i>Dashboard
      {{/link-to}}
      {{#link-to 'services' classNames='nav__item'}}
        <i class="ss-grid nav__icon"></i>Services
      {{/link-to}}
      {{#link-to 'load-balancers' classNames='nav__item'}}
        <i class="ss-fork nav__icon"></i>Load Balancers
      {{/link-to}}
      {{#link-to 'monitoring' classNames='nav__item'}}
        <i class="ss-stopwatch nav__icon"></i>Monitoring
      {{/link-to}}
      {{#link-to 'logs' classNames='nav__item'}}
        <i class="ss-notebook nav__icon"></i>Logs
      {{/link-to}}
      {{#if developmentMode}}
        {{#link-to 'styleguide' classNames='nav__item'}}
          <i class="ss-flask nav__icon"></i>Styleguide
        {{/link-to}}
      {{/if}}
    </div>
  </div>

  <div class="content">
    {{outlet}}
  </div>

</div>
