<div class="cards--one-up">
  <div class="card">
    <div class="card__header">
      <h4 class="card__header-title">Logs</h4>
    </div>
    <div class="card__body">
      <p>Can we embed Kibana here?</p>
    </div>
  </div>
</div>
